@font-face {
font-family: 'Graphik LC Web';
src: url('Graphik-Semibold-Web.eot');
src: url('Graphik-Semibold-Web.eot?#iefix') format('embedded-opentype'),
url('Graphik-Semibold-Web.woff2') format('woff2'),
url('Graphik-Semibold-Web.woff') format('woff');
font-weight: 600;
font-style: normal;
font-stretch: normal;
}

@font-face {
font-family: 'Graphik Web';
src: url('Graphik-Regular-Web.eot');
src: url('Graphik-Regular-Web.eot?#iefix') format('embedded-opentype'),
url('Graphik-Regular-Web.woff2') format('woff2'),
url('Graphik-Regular-Web.woff') format('woff');
font-weight: 400;
font-style: normal;
font-stretch: normal;
}


body {
  height: 100vh;
  width: 100vw;
  margin: 0;
  letter-spacing: .01em;
  background: #fff;
  overflow-x: hidden !important;
  font-family: 'Graphik Web', Helvetica Neue, Arial, sans-serif;
  text-rendering: optimizeLegibility !important;
  -webkit-font-smoothing: antialiased !important;
  -moz-osx-font-smoothing: grayscale;
}

h1, h2, h3, h4 {
    font-weight: 400;
    margin-top: 0;
}

p, span, a, pre, i {
    font-weight: 400;
    margin-top: 0;
    line-height: 1.8;
}

a {
    text-decoration: none;
}

nav {
    width: 80%;
    padding: 90px 10% 0% 10% ;
    position: fixed;
    height: 70px;
    z-index: 999;
}

.logo svg {
    transition: all 0.3s ease-in-out;

}

    .logo {
        width: 95px;
        height: 35px;
        position: absolute;
        left: 10%;
        z-index: 25;
        top: 90px;
    }


    .contact {
        position: absolute;
        right: 10%;
        font-size: 24px;
        color: #F8F8F8;
        z-index: 15;
        top: 94px;
    }

    .contact a {
        color: #F8F8F8;
        transition: all 0.3s cubic-bezier(0.23, 1, 0.32, 1);
    }

    .dark {
        fill: #fff;
    }

    .dark a {
        color: #fff;
    }

    .contact a:hover {
        color: #2400ff;
    }

#home {
  transition: all 0.3s ease-in-out;
}


.wrapper {
    margin: 0 auto;
    width: 80%;
    position: relative;
}

header {
    height: 100vh;
    width: 100%;
    background-image: -webkit-linear-gradient(290deg, #595858 0%, #9bc5c3 100%);
    background-image: -o-linear-gradient(290deg, #595858 0%, #9bc5c3 100%);
    background-image: linear-gradient(20deg, #595858 0%, #9bc5c3 100%);
    position: relative;
    overflow: hidden;
}

    .intro {
        width: 100%;
        position: absolute;
        bottom: 30px;
        padding-bottom: 60px;
        z-index: 15;
        opacity: .8;
    }

    .message span {
        font-size: 40px;
        line-height: 1.4;
        font-weight: 400;
        color: #F8F8F8;
    }

    .message {
        width: 100%;
        position: relative;
    }

    .down {
        width: 70px;
        height: 70px;
        background-color: rgba(255,255,255,0.33);
        border-radius: 35px;
        position: absolute;
        bottom: 20px;
        right: 0;
        text-align: center;
    }

    .down:hover {
        transition: all 0.5s ease;
        background-color: rgba(255,255,255,0.5);
    }

    .down img {
        width: 16px;
        padding-top: 24px;
    }

    header .wrapper {
        height: 100%;
    }

    .soon {
        position: absolute;
        bottom: 50px;
        color: #666666;
        z-index: 15;
    }

    #video-background {
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: 5;
    transform: translateX(-50%) translateY(-50%);
    }



.about {
    width: 100%;
    padding: 120px 0;
    color: #F8F8F8;
}

    .awards h1, .sub-footer h1 {
        width: 30%;
        padding-right: 20%;
        float: left;
        line-height: 1.4;
    }

    .about .left {
        width: 30%;
        padding-right: 20%;
        float: left;
        line-height: 1.4;
    }

    .about p {
        color: #666666;
        font-size: 18px;
        font-weight: 400;
    }

    .about ul {
        list-style-type: none;
        display: inline-block;
        float: left;
        width: 25%;
        margin: 0 0 0 0;
        padding: 0;
    }

    .about ul li {
        font-size: 18px;
        color: #666666;
        margin-bottom: 25px;
    }

    .about h1 {
        color: #1C1C1F;
    }

    .who {
        background: #F8F8F8;
    }

    .clients {
        background: #EDEDED;
        padding-bottom: 90px;
    }

    .logowall {
        position: relative;
        width: 50%;
        float: left;
        margin-top: -40px;
    }

    .logowall div {
        float: left;
        height: 120px;
        width: 14%;
        margin: 0 0 4% 14.666%;
        text-align: center;
    }

    .logowall div:nth-child(4n+1) {
        margin-left: 0;
    }

    .logowall div img {
        width: 100%;
        max-height: 70px;
        vertical-align: middle;
    }

    .client-logo {
        font: 0/0 a;         /* remove the gap between inline(-block) elements */
    }

    .client-logo:before {    /* create a full-height inline block pseudo=element */
        content: ' ';
        display: inline-block;
        vertical-align: middle;  /* vertical alignment of the inline element */
        height: 100%;
    }

    #client-logo {
        display: inline-block;
        vertical-align: middle;  /* vertical alignment of the inline element */
    }

  .main-logo {
        font: 0/0 a;         /* remove the gap between inline(-block) elements */
    }

  .main-logo:before {    /* create a full-height inline block pseudo=element */
        content: ' ';
        display: inline-block;
        vertical-align: middle;  /* vertical alignment of the inline element */
        height: 100%;
    }






.footer {
    width: 100%;
    background-image: -webkit-linear-gradient(290deg, #595858 0%, #9bc5c3 100%);
    background-image: -o-linear-gradient(290deg, #595858 0%, #9bc5c3 100%);
    background-image: linear-gradient(20deg, #595858 0%, #9bc5c3 100%);
    padding: 100px 0;
    color: #fff;
    overflow: hidden;
}

    .footer .say-hi {
        width: 50%;
        position: relative;
        float: left;
    }

    .footer span {
        display: block;
        color: #fff;
        font-size: 18px;
        font-weight: 400;
        margin-bottom: 10px;
    }

    .footer .mail {
        font-size: 26px;
        color: #fff;
        font-weight: 400;
        line-height: 32px;
        margin-bottom: 10px;
    }

    .footer .adress, .footer .social {
        width: 25%;
        position: relative;
        float: left;
    }


    .footer .social a, .footer .adress a {
        font-size: 26px;
        color: #fff;
        font-weight: 400;
        line-height: 32px;
        margin-bottom: 10px;
    }

     .footer .adress a {
        line-height: 42px;
    }



.sub-footer {
    width: 100%;
    background: #111111;
    padding: 70px 0 55px 0;
    color: #fff;
}

    .sub-footer p {
        font-size: 18px;
        color: #666666;
    }

    .sub-footer a {
        color: #666666;
        transition: all 0.3s cubic-bezier(0.23, 1, 0.32, 1);
    }

    .sub-footer a:hover {
        color: #fff;
    }


.case {
    border-bottom: 1px solid #e9e9e9;
    padding: 130px 0 100px 0;

}

    .desc {
        width: 40%;
        max-width: 600px;
        float: left;
        position: absolute;
    }

    .desc p {
        color: #666666;
        font-size: 16px;
    }

    .desc a {
        color: #000;
        font-weight: 400;
        font-size: 18px;
        transition: color 0.3s cubic-bezier(0.23, 1, 0.32, 1);
    }

    .desc ul {
        list-style-type: none;
        margin-left: 0;
        padding-left: 0;
        margin-top: 40px;
        padding-bottom: 30px;
    }

    .desc ul li {
        text-transform: uppercase;
        font-size: 11px;
        font-weight: 400;
        line-height: 2.1;
        display: inline-block;
        float: left;
        letter-spacing: 2px;
        margin-right: 15px;
        color: #a0a0a0;
    }

    .desc h1 {
        margin-top: 0;
        font-size: 38px;
    }

    .img-container {
        width: 50%;
        float: right;
    }

    .img {
        width: 100%;
        display: block;
        margin-bottom: 30px;
    }

    .img img {
        width: 100%;
    }

    .client  {
        margin-bottom: 40px;
        max-width: 350px;
    }



/* slide hover */
.sliding {
    display: inline-block;
    transition: transform .3s cubic-bezier(0.23, 1, 0.32, 1)
}
.sliding:after {
    content: '';
    display: block;
    height: 2px;
    width: 0;
    background: white;
    transition: width .3s cubic-bezier(0.23, 1, 0.32, 1);
}
.sliding:hover:after {
    width: 100%;
    background: white;
}

    .blue:after {
        background: blue;
    }

    .blue:hover:after {
        background: blue;
    }


    .blue:hover {
        color: #2400ff;
    }
.sliding:hover {
    transform: translate(3px,0);
}




/*  sticky */
.stickem-container {
  position: relative;
}

.stickit {
	position: fixed;
	top: 90px;
    width: 32%;
}

.stickit-end {
	bottom: 0px;
    padding-bottom: 101px;
	position: absolute;
}



/* Preloader */
#preloader {
	position: fixed;
	top:0;
	left:0;
	right:0;
	bottom:0;
	background-color:#f8f8f8;
	z-index:9999;
}

#status {
	width:100px;
	height:100px;
	position:absolute;
	left:50%;
	top:50%;
	margin:-50px 0 0 -50px;
}

#status svg {
    fill: #000;
}

.disable-hover {
  pointer-events: none;
}


.loader {
    width: 300px;
    height: 300px;
    position: absolute;
    border: #e7e7e7 1px solid;
    border-radius: 50%;
    top: -135px;
    left: -105px;

    animation-name: loader;
    animation-duration: 3.5s;
    animation-iteration-count: infinite;
}

@keyframes loader {
    0%      {  transform: scale(0.3); opacity: 0;}
    30%      {  opacity: 1;}
    100%    {  transform: scale(1.3); opacity: 0;}
}


.fadein {
  -webkit-animation: fadein 2s; /* Safari, Chrome and Opera > 12.1 */
  -moz-animation: fadein 2s; /* Firefox < 16 */
  -ms-animation: fadein 2s; /* Internet Explorer */
  -o-animation: fadein 2s; /* Opera < 12.1 */
  animation: fadein 2s;
}
